<!-- <nb-layout>
  <nb-layout-header>Ahoj</nb-layout-header>
  <nb-layout-footer></nb-layout-footer>
  <nb-layout-column>
    <nb-card accent="info">
      <nb-card-header>Nebula</nb-card-header>
      <nb-card-body>
        A nebula is an interstellar cloud of dust, hydrogen, helium and other
        ionized gases. Originally, nebula was a name for any diffuse
        astronomical object, including galaxies beyond the Milky Way.
        <nb-list>
          <nb-list-item *ngFor="let fruit of fruits">
            {{ fruit }}
          </nb-list-item>
        </nb-list>
        <button nbButton status="success">Success</button>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
  <nb-sidebar></nb-sidebar>
</nb-layout> -->
