<nb-layout>
  <nb-layout-header>
    <nb-icon
      icon="menu-arrow-outline"
      status="basic"
      [options]="{ animation: { type: 'pulse' } }"
      (click)="state = state == 'expanded' ? 'collapsed' : 'expanded'"
    ></nb-icon>

    <nb-icon
      style="margin-left:auto"
      icon="power-outline"
      status="basic"
      [options]="{ animation: { type: 'pulse' } }"
    ></nb-icon>
  </nb-layout-header>
  <nb-layout-footer></nb-layout-footer>
  <nb-sidebar [state]="state">
    <nb-menu [items]="items"></nb-menu>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
